<section class="section mt-5">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <table class="table table-responsive table-striped">
          <thead>
            <tr>
              <th>Título</th>
              <th>Conteúdo</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <%= @post.title %>
              </td>
              <td>
                <%= @post.content %>
              </td>
              <td>
                <a href="/post/<%= @post._id %>/deletar" class="btn btn-sm btn-danger">Deletar</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>